#blog {
  padding: 100px 15px;
  background: #f9fafc;
}

#blog .title h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#blog .blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  column-gap: 15px;
}

.blog .blog-container .post-image {
}
